# cu128 is required for blackwell.

--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.9.0+cu130
torchvision==0.24.0+cu130

transformers==4.51.3
gradio>=5.33.0
opencv-python==4.11.0.86
omegaconf==2.3.0
pytorch-lightning==2.5.1.post0
kornia==0.8.0
open_clip_torch==2.32.0
einops==0.8.1
scipy==1.15.2
xxhash>=3.5.0
diffusers==0.33.1


